<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gemini OCR</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="m-8 bg-white p-8 rounded shadow-md w-full max-w-9xl">
      <h1 class="text-2xl font-bold mb-4 text-gray-800">Gemini OCR System</h1>
      <form
        action="/"
        method="POST"
        enctype="multipart/form-data"
        class="space-y-4"
      >
        <div>
          <label for="file" class="block text-gray-700 font-semibold"
            >Upload a file</label
          >
          <input
            type="file"
            id="file"
            name="file"
            accept="file/*"
            class="mt-1 block w-full text-sm text-gray-700 bg-gray-100 border border-gray-300 rounded cursor-pointer"
          />
        </div>
        <button
          type="submit"
          class="w-full bg-indigo-500 text-white font-bold py-2 rounded hover:bg-indigo-600 transition"
        >
          Submit
        </button>
      </form>

      {% if gemini_response %}
        
        <div class="mt-6 p-4 bg-indigo-50 rounded">
          <h2 class="text-xl font-semibold text-gray-800">Gemini Response:</h2>
          <div
            class="text-gray-700 mt-2 whitespace-pre-wrap"
            style="word-break: break-word"
          >
            {{ gemini_response|safe }}
          </div>
        </div>
      
      {% endif %} {% if uploaded_file_url %}
      <div class="mt-4">
        <h2 class="text-lg font-semibold text-gray-800">Uploaded File:</h2>
        <img
          src="{{ uploaded_file_url }}"
          alt="Uploaded File"
          class="mt-2 rounded shadow-md"
        />
      </div>
      {% endif %}
    </div>
  </body>
</html>
